---
http:
    middlewares:
        secure-headers:
            headers:
                browserXssFilter: true
                contentTypeNosniff: true
                frameDeny: true
                sslRedirect: true
                stsIncludeSubdomains: true
                stsPreload: true
                stsSeconds: 15768000
                customFrameOptionsValue: SAMEORIGIN
